<p style="color: green"><%= notice %></p>


<h1>Projects</h1>
<div class="btn btn-light shadow p-3 mb-5 rounded text-decoration:none">
   <%= link_to "New project", new_project_path %>
</div>

<div id="projects" class="bg-light shadow p-3 mb-5 rounded">
  <% @projects.each do |project| %>
    <%= render project %>
    <button type="button" class="btn btn-light shadow p-3 mb-5 rounded " >
      <p>
       <%= link_to "Show this project", project %>
      </p>
    </button>
    <hr>
  <% end %>
  
</div>


