<p style="color: green"><%= notice %></p>
<nav class="navbar bg-danger">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Projet Ruby on Rails</span>
  </div>
</nav>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
